*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
}
body{
    background-color: #faf4ec;
}
.container{
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.display{
    height: 40vh;
    margin-top: 5rem;
}
.heading{
    font-size: 2.5rem;
    margin-top: 3rem;
    color: black;
    text-shadow: 1px 2px 3px gray;
}
button{
    padding: 1rem 5rem;
    font-size: 1.3rem;
    border: none;
    background-color: #1f1f1f;
    color: antiquewhite;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px #2f2f22;
}
button:hover{
    background-color: #2b2b2b;
    transform: scale(1.1);
    color: gold;
}
.quotes{
    font-size: 3rem;
    font-family:fantasy;
    letter-spacing: 2px;
    color: #555;
}
.display p{
    font-size: 2rem;
    text-align: right;
    font-style: italic;
    font-family: fantasy;
    color: #555;
}
.anim{
    animation: flash 0.2s ease-in-out;
}
@keyframes flash {
    0%{background-color: rgb(192, 192, 192); transform: scale(0.95);}
    25%{background-color: rgb(209, 203, 203); transform: scale(1.2);}
    50%{background-color: rgb(228, 226, 226);}
    75%{background-color: rgb(243, 242, 242);}
    100%{background-color: #fff;}
}
